{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h2>Your Documents</h2>
  {% if documents %}
    <ul class="list-group">
      {% for doc in documents %}
        <li class="list-group-item d-flex justify-content-between">
          {{ doc.doc_title }}
          <a href="{{ doc.file.url }}" class="btn btn-sm btn-outline-primary">Download</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No documents uploaded yet.</p>
  {% endif %}
  <a href="{% url 'students:upload' %}" class="btn btn-primary mt-3">Upload New Document</a>
</div>
{% endblock %}
